.BooksContainer {
  gap: 20px;
  padding: 0 20px;
  width: 100%;
  max-width: 75rem;
}

.BooksContainer hr {
  width: 100%;
  margin: 20px 0 10px 0;
  border: 1px solid #e8e8e8;
}

@media screen and (min-width: 768px) {
  .BooksContainer {
    padding: 0 30px;
  }
}

